@using MVCAssignment.Models.Search
@model SearchParametersModel
<tr class="form-data">
    <td class="custom_input">
        @Html.CheckBoxFor(m => m.IsRequired)
    </td>
    <td class="custom_select">
        @Html.DropDownListFor(m => m.SelectedFieldName, Model.AvailableFieldNames, "Select Field Name")
    </td>
    <td class="custom_select">
        @Html.DropDownListFor(m => m.SelectedDataType, Model.AvailableDataType, "Select DataType")
    </td>
    <td class="custom_select">
        @Html.DropDownListFor(m => m.SelectedControlType, Model.AvailableControlType, "Select ControlType")
    </td>

    <td class="custom_textbox">
        @Html.TextBoxFor(m => m.MaxFieldLength)
    </td>
    <td class="custom_textbox">
        @Html.TextBoxFor(m => m.MinLimit)
    </td>
    <td class="custom_textbox">
        @Html.TextBoxFor(m => m.MaxLimit)
    </td>
    <td class="custom_textbox"> @Html.TextBoxFor(m => m.MaskPattern)</td>
</tr>